@{
    ViewBag.Title = "Acerca";
}

<div class="row">
    <h2>@ViewBag.Title</h2>
    @*<h3>@ViewBag.Message</h3>*@
    <div class="col-md-8">
        <p style="text-align: justify;">
            El alcance del sistema se enfocará exclusivamente a la gestión del servicio ofrecido por el laboratorio. El propósito de este servicio es el de proporcionar a los
            clientes que lo requieran, la aplicación de algún o varios tipos de análisis o exámenes médicos. También se pretende gestionar el personal encargado de realizar esta tarea.
            <br />
            Con esto se logrará un mayor control de información y tiempos en la administración del laboratorio, lo cual tendrá como consecuencia un aumento en las utilidades.
        </p>
    </div>
</div>