@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    Avenida Instituto Politécnico Nacional 2580, Gustavo A. Madero, Barrio la Laguna Ticoman, 07340 Ciudad de México, D.F.
    <br />
    <abbr title="Telefono">P:</abbr>
    55-55-55-55-55
</address>

<address>
    <strong>Soporte: </strong>   <a href="mailto:laboclip@laboit.com">laboclip@laboit.com</a>
</address>